<div id="presence-parasite-container">
    <header>
        <img src="assets/icons/location-1-svgrepo-com.svg" alt="">
        <h1>Ubicacion parasitos</h1>
    </header>

    <ul class="deparments-list">
        @for( deparment of deparmentsWithParasites ; track deparment){

        <li>
            <h2>deparment</h2>
            <ul class="parasite-list">
                @for(parasite of parasiteLocationByDeparment.get(deparment) ; track parasite){
                <li>{{parasite}}</li>

                }
            </ul>
        </li>
        }

    </ul>
</div>