<section>
    <cdk-tree [dataSource]="parasites" [childrenAccessor]="childrenAccessor" #tree>
        <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="parasite">
            <a href=""> {{ node.name }}</a>
        </cdk-nested-tree-node>
        <cdk-nested-tree-node *cdkTreeNodeDef="let node ; when: hasChildren" class="taxonomic-category">
            <button cdkTreeNodeToggle (click)="selectTaxonomicNode.emit(node.name)">
                <p> {{node.name}}</p>
            </button>
            <div [class.hidden-nodes]="!tree.isExpanded(node)">
                <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
        </cdk-nested-tree-node>
    </cdk-tree>
</section>