fieldset {
    border: none;
}

legend {
    font-family: red-hatmono;
    color: white;
    margin-bottom: 20px;
}


.answer-option-container {
    display: flex;
    gap: 10px;
    background-color: #313237;
    border: solid 2px rgba(255, 255, 255, 0.208);
    padding: 15px 7px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}


.answer-option-container:not(.correct-answer, .incorrect-answer):hover {
    background-color: #434449;

}


input {
    cursor: pointer;
}


label {
    color: white;
    order: 2;
    font-family: lato;
    font-size: 1rem;
    cursor: pointer;
}

.correct-answer {
    background-color: rgba(15, 114, 30, 0.263);
}

.incorrect-answer {
    background-color: rgba(114, 15, 15, 0.263);

}