<div id="slider-container">
    <div id="select-card-container">
        @for( currentItem of items() ; track $index){
        <app-slider-card [lifeStage]="currentItem" [ngClass]="{
            'current-card': $index == selectedCardIndex(),
            'previous-card': ($index + 1) == selectedCardIndex(),
            'next-card': ($index - 1) == selectedCardIndex()
        }" />
        }
    </div>
</div>
<nav id="card-track-container">
    <li id="card-track">
        @for(currentItem of items() ;track $index){
        <ul>
            <button (click)="setSelectCard($index)"
                [class.selected-card-track]="$index == selectedCardIndex()"></button>
        </ul>
        }
    </li>
    <div id="navigation-buttons">
        <button id="previous-card" (click)="previousCard()"><img src="assets/icons/arrow.svg" alt=""
                title="anterior elemento"></button>
        <button id="next-card" (click)="nextCard()"><img src="assets/icons/arrow.svg" alt="" title="siguiente elemento">
        </button>
    </div>
</nav>