 :host {
     height: 100dvh;
     display: grid;
     grid-template-rows: 100px 1fr;

 }



 :host>main {
     height: 100%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr var(--max-width-main-content) 1fr;
     width: 100%;
     max-width: var(--max-screen-width);
     gap: 20px;
 }

 epidemiological-map {
     height: 100%;
     grid-column: 2/3;
 }

 #map {
     width: 100%;
 }

 #presence-parasite-side-bar {
     width: 100%;
     max-width: var(--max-width-side-panel);
     grid-template-columns: 3/4;
     width: 100%;
     min-height: 400px;
     height: fit-content;
     border-radius: 10px;
     padding: 20px;
     background-color: #17171a;
 }