:host {
    width: 100%;
    height: 100%;
}

.card {
    height: 100%;
    width: 100%;
    background-color: rgb(37, 23, 70);
    padding: 0 10px;
    display: grid;
    grid-template-columns: minmax(0, 400px) 1fr;

}

.card>div {
    align-self: center;
    aspect-ratio: 16/9;
}

div img {
    width: 100%;
    height: 100%;
}

p {
    align-self: center;
}